/*Загрузчик страницы (показывает анимацию, пока страница загружается)*/
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #c56b04;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

body {
    font-family: Arial, Helvetica, sans-serif; /*Устанавливаем шрифт для всего документа*/
}

.acap {
    background: url(../img/veter.jpg) center/cover no-repeat;
}

/* Навигация */
nav {
	width: 100%;
}
/* .logo, .messenger, .phonenav {
    width: 300px;
} */
.containernav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    /* background: url(../img/zelbluefon3.jpg) center/cover no-repeat; */
    /* background: #283535; */
    background: none;
    padding: 10px 100px;
    color:white;
}
.logo, .messenger, .phonenav {
    width: 25vw;
    box-sizing: border-box;
}
.containernav1 img {
    width: 25px;
    height: 25px;
}
.logo img {
	/* color: #fff;
	font-size: 25px;
	line-height: 60px; */
	float: left;
    height: 60px;
    width: auto;
}
@media (max-width: 1024px){
    .logo img {
        float: left;
        height: 40px;
        width: auto;
    }
}
.messenger {
    text-align: center;
}
.messenger img {
    margin-left: 5px;
}
.phonenav {
    float: right;
    text-align: right;
}
.tel1 {
    font-size: 14px;
}
@media (max-width: 768px){
    .containernav1 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
    }
    .containernav1 img {
        width: 20px;
        height: 20px;
    }
    .logo, .messenger, .phonenav {
        margin: 20px auto 0px auto;
        width: 100%;
    }
    .phonenav {
        float: center;
        text-align: center;
    }
    .logo img {
        float: center;
        text-align: center;
        height: auto;
        width: 100%;
    }
    /* .logo {
        font-size: 20px;
        line-height: normal;
    } */
}

.containernav2 {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    width:100%;
    height: 60px;
	background: none;
	z-index:100;
    overflow: visible;
}
.containernav2-fixed{
    position: fixed;
    top: 0px;
    background: #344051;
}
.menu {
    display: flex;
    justify-content: center;
    width:100%;
}
@keyframes topshift {
	from {
		opacity: 0;
		margin-top: -80px;
	}
	to {
		opacity: 1;
		margin-top: 0px;
	}
}
.menu ul {
    margin-right: 20px;
}
.menu li {
    float: left;
    text-align: center;
    line-height: 60px;
	color: #fff;
	margin-left: 20px;
	font-size: 14px;
    animation: topshift 1s ease forwards;
}
.dropmenu {
    background-color: #344051;
}
.dropmenu li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
@media (max-width: 1291px){
    .menu  {
        display: none;
    }
    .navbutton {
        position: absolute;
        right: 10px;
    }
}
@media (min-width: 1292px){
    .navbutton {
        display: none;
    }
}
.menu li a {
	transition: all 0.5s;
	color: white;
	transform: scale(1.0);
	display: inline-block;
	text-decoration: none;

}
.menu li a:visited {
	color: white;
}
.menu li a.active,
.menu li a:hover {
	color: #d17700;
}
.menu li a:active {
	transform: scale(1.1);
}

/*Заказ обратного звонка*/
.callback {
    width: 50px;
    height:50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: none;
    z-index: 100;
    overflow: hidden;
}
.callback img {
    width: 50px;
    height:50px;
    padding: 0px;
    margin: 0px auto;
    display: block;
}
.callback.activecallback {
    width: 300px;
    height:300px;
    transition: all 0.5s ease-out;
    background-color: #344051;
    border: 2px solid #112c52;
    border-radius: 10px;

    bottom: 25px;
    right: 25px;
}
.callback p {
    width:100%;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.callback form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}
.name1, .phone1 {
	float: left;
	width: 100%px;
	height: 35px;
	margin: 0px 15px 15px 0px;
}

/* Приветствие */
.main {
    width: 100%;
    height: 80vh;
    /* float: left; */
    /* background: url(../img/veter.jpg) center/cover no-repeat; */
    background-color: none;
}
@keyframes titlemove {
	from {
		opacity: 0;
		/* margin-left: -400px; */
	}
	to {
		opacity: 1;
		/* margin-left: 0px; */
	}
}
.title_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: titlemove 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}
.title_container h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 20px auto;
    text-align: center;
}
.title_container h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.mainbutton {
    display: flex;
}
.title_container input {
	width: 150px;
    height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding: 0px 16px;
    margin: 0px 20px;
	transform: scale(1.0);
}
.title_container input:hover {
	background: #344051;
	color:silver;
}
.title_container input:active {
	transform: scale(1.2)
}

@media (max-width: 992px){
    .main {
        height: 100%;
    }
    .title_container h1 {
        font-size: 30px;
    }
    .title_container h2 {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .mainbutton {
        flex-direction: column;
    }
    .title_container input {
        margin-bottom: 10px;
    }
}

/* Раздел "О нас" */
.resume {
    width: 100%;
    height: 100vh;
    /* background: url(../img/resumefon5.jpg) center/cover no-repeat; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerresume {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes resumeh2move {
	from {
		opacity: 0;
		margin-bottom: -200px;
	}
	to {
		opacity: 1;
		margin-bottom: 0px;
	}
}
.resumeh2 {
    font-size: 36px;
    margin-bottom: 20px;
    opacity: 0;
    padding-bottom: 20px;
}
.resumeh2.animClass {
    animation: resumeh2move 1s ease forwards;
}
@keyframes resumepmove {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.resumep {
    font-size: 24px;
    text-align: center;
    opacity: 0;
}
.resumep.animClass {
    animation: resumepmove 1s ease forwards;
}
@media (max-width: 992px){
    /* .resume {
        height: 70%;
    } */
    .containerresume {
        width: 100%;
    }
}

/* Раздел "Услуги" */
.services {
    width:100%;
    /* background-color: beige; */
    /* background: url(../img/servicesfon12.jpg) center/cover no-repeat; */
    /* background: url(../img/43540.jpg) center/cover no-repeat; */
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
    /* color: white; */
}
.services h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}
/* Слайдер Наши услуги - начало */
.servicslide {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
  .container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .sidebar {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #fff;*/
  }
  
  /* .sidebar h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  } */
  
  .main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    transition: transform 0.5s ease-in-out;
  }
  
  .main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  .main-slide img {
    width: 100%;
  }
  
  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  button:hover {
    color: #222;
  }
  
  button:focus {
    outline: none;
  }
  
  .container .controls button {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
  }
  
  .container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.sidebar ul {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}
.sidebar li {
  list-style-type: initial;
  list-style-position:inside;
}
.sidebar h3 {
    text-align: center;
    font-size: 24px;
    margin: 10px 20px;
}
/* Слайдер Наши услуги - конец */

.containerservices {
    /* height:100%; */
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicerow {
    height: 100%;
    padding: 5px;
    background-color: none;
    /* background: url(../img/3239613.jpg) center/cover no-repeat; */
    /* background: url(../img/resumefon.jpg) center/cover no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
/* .servicerow:hover {
    transform: scale(1.1);
}
 .servicerow:focus {
    text-align: center;
    position: fixed;
    top: 60px;
    z-index: 100;
    overflow: auto;
}
 */

 .service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .service h3 {
    text-align: center;
 }
.service p{
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.service ul {
    padding: 20px;
    text-align: left;
    font-weight: bold;
}
.service li {
    list-style-type: initial;
}
.service img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width: 992px){
    .servicslide {
        display: none;
    }
    .containerservices {
        display:block;
    }
}
/* .servicerow:focus {
    transform: scale(1.1)
    width: 1000px;
    text-align: center;
    position: fixed;
    top: 100px;
} */

/*Раздел наши преимущества*/
.advantages {
    width:100%;
    padding: 50px;
    background-color: #fff;
}
.advantages h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}
.advantagerow {
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:center;
}
.advantage {
    width: 25vw;
    text-align: center;
}
.advantage img {
    height:100px;
}
.advantage p {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 20px 0px 20px;
    text-align: center;
}
@media (max-width: 992px){
    .advantagerow {
        flex-direction: column;
    }
    .advantage {
        width: 100vw;
        padding-bottom: 20px;
    }
}

/* Раздел Наша квалификация*/
.qualification {
    width: 100%;
    background-color: white;
    padding: 50px;
}
.qualification h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.qualification p {
    font-size: 24px;
    text-align: center;
}



/* Раздел "Наше оборудование" */
.equipments {
    width:100%;
    /* background: url(../img/servicesfon4.jpg) center/cover no-repeat; */
    /* background: 
    radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
    /* background: url(../img/gr153_2000_2000.png) center/cover no-repeat; */
    /* background: url(../img/volna.jpg) center/cover no-repeat; */
    background-color:whitesmoke;
    padding: 50px;
}
@media (max-width: 992px){
    .equipments {
        padding: 50px 0px;
    }
}
.equipments h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    /* color: white; */
}
.containerequipments {
   position: relative;
}
.slick-slide {
    padding: 0 10px;
}
  .prev,
  .next {
    position: absolute;
    top: 40%;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
  }
  .next {
    right: 0;
  }
.equipmentrow {
    width: 300px;
    height: 500px;
    margin: 0 0px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;

}
/* .equipmentrow:hover {
    transform: scale(1.1);`
}
.equipmentrow:focus {
    transform: scale(2);
    text-align: center;
    position: fixed;
    top: 150px;
    transition: all 1s ease 0s;
    z-index: 100;
} */
.equipment {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}
.equipment img {
    width: 55%;
    margin: auto;
}
.equipment h3, .service h3 {
    padding: 20px;
    font-size: 24px;
}
.equipment p {
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

/* .active {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 60px;
} */

/* .popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
} */

/*Раздел Наши заказчики*/
.customers {
    width:100%;
    /* background: url(../img/servicesfon9.jpg) center/cover no-repeat; */
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
}
.customers h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    /* color: white; */
}
.customersrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.customer {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customer img {
    width: 90%;
    text-align: center;
}
.customer p {
    text-align: center;
    /* color: white; */
    font-size: 14px;
    padding: 10px;
}

/*Раздел география наших работ*/
.geographywork {
    width:100%;
    /* background: url(../img/servicesfon5.jpg) center/cover no-repeat; */
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.geographywork h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    /* color: white; */
}
.map img {
    width: 100%;
}
.work {
    width:100%;
    height: 600px;
    background: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work h3 {
    font-size: 24px;
    /* color: white; */
    padding: 10px;
    text-align: center;
}
.imgwork {
    height: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
}
.imgwork img {
    height: 100%;
    text-align: center;
}
.imgwork img:hover {
    transform: scale(1.5);
}
.work p {
    text-align: center;
    /* color: white; */
    font-size: 14px;
    padding: 10px;
}
@media (max-width: 1168px){
    .imgwork {
        flex-wrap: wrap;
    }
    .imgwork img {
        height: 50%;
    }
    .imgwork img:hover {
        transform: scale(1);
    }
    .work {
        height: 700px;
    }
}


/*Раздел документация*/
.documentation {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: linear-gradient(90deg, #000000,#230b10,#331016,#230b10,#000000); */
    /* background: url(../img/zelbluefon3.jpg) center/cover no-repeat; */
    background-color: whitesmoke;
}
.documentation h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    /* color: white; */
}
.documentation h3 {
    font-size: 24px;
    /* color: white; */
    text-align: center;
    padding-bottom: 25px;
}
.certificate {
    width: 75%;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
}
.certificate img {
    width: 360px;
    display: block;
    margin: 20px;
    text-align: center;
}
.certificate img:hover {
    transform: scale(1.5);
}
.documentation p {
    /* color: white; */
    text-align: left;
    width: 50%;
    margin: 10px auto;
    font-size: 20px;
}
.documentation ul {
    width: 50%;
    margin: 10px auto;
}
.documentation li {
    list-style-type:decimal;
    /* color: white; */
    margin-top: 10px;
}
.documentation a {
    text-decoration: none;
    /* color: white; */
}
@media (max-width: 768px){
    .documentation p, .documentation ul {
        width: 90%;
    }
}

/*Раздел контакты*/
.contacts {
	width: 100%;
	background-image: url(../img/фон2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.contacts h2 {
	margin: 0px auto 0px auto;
	padding-top: 50px;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 32px;
}
.contacts p {
	margin: 0px auto;
	padding: 32px 25px 25px 25px;
	text-align: center;
	color: #ffffff;
    font-size: 20px;
}
.containercontacts {
	display: flex;
	width: 75%;
	margin: 0px auto;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}
@media (max-width: 768px){
    .containercontacts {
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
}

.containercontacts img {
	display: block;
	margin: 0px auto;
}
.address, .e-mail, .telephone {
	/* width: 100vw; */
	margin: 25px auto 20px auto;
}
.address p {
	color: #ffffff;
	padding: 10px;
	font-size: 16px;
    text-align: center;
}
.e-mail a {
	color: #ffffff;
}
.e-mail p {
	padding: 10px;
	font-size: 16px;
    text-align: center;
}
.telephone p {
	padding: 10px;
	color: #ffffff;
	font-size: 16px;
    text-align: center;
}
.mycontact h4 {
	width: 300px;
	margin: 0px auto;
	padding: 40px 0px 40px 0px;
	color: #ffffff;
	font-size: 20px;
}
.contacts form {
	width: 530px;
	margin: 0px auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.name2 {
	float: left;
	width: 250px;
	height: 35px;
	margin: 0px 15px 15px 0px;
}
.pochta2 {
	float: left;
	width: 250px;
	height: 35px;
	margin: 0px 0px 15px 15px;
}
.sms2 {
	float: left;
	width: 530px;
	height: 35px;
	margin: 0px 0px 30px 0px;
}
.otpravka {
	display: block;
	height: 50px;
	width: 130px;
	text-align: center;
	border: 2px solid #ffffff;
	background: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	margin: 0px auto;
	text-align: center;
	transition: all 0.5s;
	transform: scale(1.0)
}	
.otpravka:hover {
	background: #fff;
	color: black;
}
.otpravka:active {
	transform: scale(1.2);
}
@media (max-width: 768px){
    .contacts form {
        width: 100%;
    }
    .name2, .pochta2, .sms2 {
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 0px auto 15px auto;
    }
}
.messengericon2 {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0px auto;
}
.messengericon2 img {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 0px 25px 25px;
}
.maps {
    width: 100%;
    height: 80vh;
    padding: 0px;
}
/* .mapsrow {
    width: 100%;
    height:100%;
    padding: 0px;
    margin: 0px;
} */
footer {
	width: 100%;
	height: 15vh;
	background: #354051;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
footer p {
	color: #ffffff;
    margin: auto;
}

  /* Шрифты */
  @font-face {
    font-family: "GostTypeA"; 
    src: url("../fonts/GOST_A.TTF") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }