nav {
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index:100;
}
.containernav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.logo {
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	float: left;
}
.menu {
    float: left;
}
.menu li {
    float: left;
    line-height: 60px;
	color: #fff;
	margin-left: 20px;
	font-size: 14px;
}
.menu li a {
	transition: all 0.5s;
	color: white;
	transform: scale(1.0);
	display: inline-block;
	text-decoration: none;

}
.menu li a:visited {
	color: white;
}
.menu li a:hover {
	color: #d17700;
}
.menu li a:active {
	transform: scale(1.1);
}
.main {
    width: 100%;
    height: 720px;
    float: left;
    background: url(../img/mainfon.jpg) center/cover no-repeat;
}
.title_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_container h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 20px auto;
}
.title_container h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}
.title_container input {
	width: 150px;
    height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding: 0px 16px;
    margin: 0px 20px;
	transform: scale(1.0);
}
.title_container input:hover {
	background: #344051;
	color:silver;
}
.title_container input:active {
	transform: scale(1.2)
}
.resume {
    width: 100%;
    height: 500px;
    background: url(../img/resumefon5.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerresume {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerresume h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.containerresume p {
    font-size: 24px;
    color: white;
    text-align: center;
}
.services {
    width:100%;
    /* background-color: beige; */
    /* background: url(../img/servicesfon12.jpg) center/cover no-repeat; */
    background: url(../img/43540.jpg) center/cover no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.services h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}
.containerservices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicerow {
    width: 500px;
    margin: 15px;
    padding: 10px;
    /* background-color: white; */
    /* background: url(../img/3239613.jpg) center/cover no-repeat; */
    background: url(../img/resumefon.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicerow:hover {
    transform: scale(1.1);
}
/* .servicerow:focus {
    text-align: center;
    position: fixed;
    top: 60px;
    z-index: 100;
    overflow: auto; */
}
.service p{
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.service ul {
    padding: 20px;
    text-align: left;
    font-weight: bold;
}
.service li {
    list-style-type: initial;

}
/* .servicerow:focus {
    transform: scale(1.1)
    width: 1000px;
    text-align: center;
    position: fixed;
    top: 100px;
} */
.equipments {
    width:100%;
    /* background: url(../img/servicesfon4.jpg) center/cover no-repeat; */
    /* background: 
    radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
    /* background: url(../img/gr153_2000_2000.png) center/cover no-repeat; */
    background: url(../img/zelbluefon3.jpg) center/cover no-repeat;
    padding: 50px;
}
.equipments h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    color: white;
}
.containerequipments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.equipmentrow {
    width: 300px;
    /* height: 300px; */
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equipmentrow:hover {
    transform: scale(1.1);
}
.equipmentrow:focus {
    transform: scale(2);
    text-align: center;
    position: fixed;
    top: 150px;
}
.equipment, .service {
    text-align: center;
}
.equipment img, .service img {
    width: 55%;
    height: auto;
}
.equipment h3, .service h3 {
    padding: 20px;
    font-size: 24px;
}
.equipment p {
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

/* .active {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 60px;
} */

/* .popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	margin:1% 0 0 0;
} */
.customers {
    width:100%;
    background: url(../img/servicesfon9.jpg) center/cover no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
.customers h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    color: white;
}
.customersrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.customer {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customer img {
    width: 90%;
    text-align: center;
}
.customer p {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px;
}
.geographywork {
    width:100%;
    background: url(../img/servicesfon5.jpg) center/cover no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}
.geographywork h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    color: white;
}
.map img {
    width: 100%;
}
.work {
    height: 500px;
    background: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work h3 {
    font-size: 24px;
    color: white;
    padding: 10px;
}
.imgwork {
    height: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.imgwork img {
    height: 100%;
    text-align: center;
    display: inline;
}
.imgwork img:hover {
    transform: scale(1.5);
}
.work p {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px;
}
.documentation {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: linear-gradient(90deg, #000000,#230b10,#331016,#230b10,#000000); */
    background: url(../img/docfon2.jpg) center/cover no-repeat;
}
.documentation h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
    color: white;
}
.documentation h3 {
    font-size: 24px;
    color: white;
    text-align: center;
    padding-bottom: 25px;
}
.certificate {
    width: 75%;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
}
.certificate img {
    width: 360px;
    display: block;
    margin: 20px;
    text-align: center;
}
.certificate img:hover {
    transform: scale(1.5);
}
.documentation p {
    color: white;
    text-align: left;
    width: 50%;
    margin: 10px auto;
    font-size: 20px;
}
.documentation ul {
    width: 50%;
    margin: 10px auto;
}
.documentation li {
    list-style-type:decimal;
    color: white;
    margin-top: 10px;
}
.documentation a {
    text-decoration: none;
    color: white;
}
.contacts {
	width: 100%;
	background-image: url(../img/фон2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.contacts h2 {
	margin: 0px auto 0px auto;
	padding-top: 50px;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 32px;
}
.contacts p {
	margin: 0px auto;
	padding: 32px 25px 25px 25px;
	text-align: center;
	color: #ffffff;
    font-size: 20px;
}
.containercontacts {
	display: flex;
	width: 75%;
	margin: 0px auto;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
}
.containercontacts img {
	display: block;
	margin: 0px auto;
}
.address, .e-mail, .telephone {
	width: 300px;
	margin: 25px auto 20px auto;
}
.address p {
	color: #ffffff;
	padding: 10px;
	font-size: 16px;
    text-align: center;
}
.e-mail a {
	color: #ffffff;
}
.e-mail p {
	padding: 10px;
	font-size: 16px;
    text-align: center;
}
.telephone p {
	padding: 10px;
	color: #ffffff;
	font-size: 16px;
    text-align: center;
}
.mycontact h4 {
	width: 300px;
	margin: 0px auto;
	padding: 40px 0px 40px 0px;
	color: #ffffff;
	font-size: 20px;
}
.contacts form {
	width: 530px;
	margin: 0px auto;
    padding-bottom: 50px;
}
.containerflex3 {
	display: flex;
	margin: 0px auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.imia {
	float: left;
	width: 250px;
	height: 35px;
	margin: 0px 15px 15px 0px;
}
.pochta {
	float: left;
	width: 250px;
	height: 35px;
	margin: 0px 0px 15px 15px;
}
.containerflex4 {
	display: flex;
	margin: 0px auto;
	flex-direction: column;
}
.sms {
	float: left;
	width: 530px;
	height: 35px;
	margin: 0px 0px 30px 0px;
}
.otpravka {
	display: block;
	height: 50px;
	width: 130px;
	text-align: center;
	border: 2px solid #ffffff;
	background: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	margin: 0px auto;
	text-align: center;
	transition: all 0.5s;
	transform: scale(1.0)
}	
.otpravka:hover {
	background: #fff;
	color: black;
}
.otpravka:active {
	transform: scale(1.2);
}
.socseti {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	text-align: center;
	margin: 0px auto;
}
.socseti img {
	margin: 0px 25px 10px 25px;
}
.mesto {
	width: 100%;
	height: 450px;
	margin: 0px;
}
footer {
	width: 100%;
	height: 90px;
	background: #354051;
	text-align: center
}
footer p {
	color: #ffffff;
	padding: 38px 0px 0px 0px;
}