nav {
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;
	z-index:100;
}
.containernav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.logo {
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	float: left;
}
.menu {
    float: left;
}
.menu li {
    float: left;
    line-height: 60px;
	color: #fff;
	margin-left: 20px;
	font-size: 14px;
}
.menu li a {
	transition: all 0.5s;
	color: white;
	transform: scale(1.0);
	display: inline-block;
	text-decoration: none;

}
.menu li a:visited {
	color: white;
}
.menu li a:hover {
	color: #d17700;
}
.menu li a:active {
	transform: scale(1.1);
}
.main {
    width: 100%;
    height: 720px;
    float: left;
    background: url(../img/mainfon.jpg) center/cover no-repeat;
}
.title_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_container h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 20px auto;
}
.title_container h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}
.title_container input {
	width: 150px;
    height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding: 0px 16px;
    margin: 0px 20px;
	transform: scale(1.0);
}
.title_container input:hover {
	background: #344051;
	color:silver;
}
.title_container input:active {
	transform: scale(1.2)
}
.resume {
    width: 100%;
    height: 500px;
    background: url(../img/resumefon5.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerresume {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerresume h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.containerresume p {
    font-size: 24px;
    color: white;
    text-align: center;
}
.services {
    width:100%;
    /* background-color: beige; */
    background: url(../img/servicesfon12.jpg) center/cover no-repeat;
    padding-top: 50px;
    color: white;
}
.services h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}
.containerservices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicerow {
    width: 500px;
    margin: 15px;
    padding: 10px;
    /* background-color: white; */
    background: url(../img/servicesfon9.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicerow:hover {
    transform: scale(1.1);
}
.service p{
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.service ul {
    padding: 20px;
    text-align: left;
    font-weight: bold;
}
.service li {
    list-style-type: initial;

}
/* .servicerow:focus {
    transform: scale(1.1)
    width: 1000px;
    text-align: center;
    position: fixed;
    top: 100px;
} */
.equipments {
    width:100%;
    background-color: beige;
    padding: 50px;
}
.equipments h2 {
    text-align: center;
    font-size: 36px;
    padding-bottom: 50px;
}
.containerequipments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.equipmentrow {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equipmentrow:hover {
    transform: scale(1.1);
}
/* .equipmentrow:focus {
    transform: scale(2);
    text-align: center;
    position: fixed;
    top: 100px;
} */
.equipment, .service {
    text-align: center;
}
.equipment img, .service img {
    width: 55%;
    height: auto;
}
.equipment h3, .service h3 {
    padding: 20px;
    font-size: 24px;
}
.equipment p {
    padding: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

/* .active {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top: 60px;
} */
